body {  
    margin-left: 30%;  
    width: 1024px;
    background-color: white;
    font-size: 16px;
    color: black;  
    
}
.foto {
    width: 3cm;
    height: 4cm;
}

.resume .pre {
    margin-left: 0px;
}